<html>
  <h1>
    Please enter your link
  </h1>

  <form action='/links' method='POST'>
    <label for='title'>
      Title:
      <input type='text' name='title' placeholder="eg. Makers" />
    </label>
    <label for='title'>
      Tags:
      <input type='text' name='tags' placeholder="eg. coding"/>
    </label>
    <label for='url'>
      URL:
      <input type='text' name='url' placeholder="eg. www.makersacademy.com"/>
    </label>
    <input type='submit' value='Create link'>
  </form>



</html>
